<mat-toolbar color="primary" class="expanded-toolbar">

  <div class="content">
    <span>
      <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
      Luxel
    </span>
    <span *ngIf="isLoggedIn(); else notLoggedIn">{{getName()}}</span>
    <mat-icon (click)="logout()">exit_to_app</mat-icon>

    <ng-template #notLoggedIn>
      <span>LOGIN YOU FOOL</span>
    </ng-template>
  </div>


</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/calendar'"> Calendar </a>
      <a mat-list-item [routerLink]="'/parse'"> Parse </a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

